.eggs/
*/__pycache__/
*/data/
*/data*/
*.pckl
*/results/
*/tmp_image/

*/*/*/__pycache__/
*/*/__pycache__/
*.mp4
*/*/data/
*.pth
*.npy
*/*/track_result/
*/*/*/data/
*/*/*/exp/

*/*/*/*/.tensorboard/
*/*/*/*/__pycache__/
*pyc

*.a
*so
*.egg-info/
Tracking/AlphaTracker/train_yolo/darknet/backup/
Tracking/AlphaTracker/train_yolo/darknet/darknet53.conv.74
Tracking/AlphaTracker/train_yolo/darknet/train.sh

main_ui
